<h1>
    <%= @classroom.teacher.name.capitalize %>'s
    <%= @classroom.name %>
    Teams
</h1>
<%= button_to('Clear Teams', "/teachers/#{params[:teacher_id]}/classrooms/#{params[:classroom_id]}/teams/#{@classroom.teams.first.id}",
          method: "delete", remote: true, data: { confirm: 'Are you sure?', disable_with: 'loading...' }) %>

<% @classroom.teams.each do |team| %>
<h3><%= team.name %></h3>
<% team.students.each do |student| %>
<li><%= student.name %></li>
<% end %>
<% end %>
