<!DOCTYPE html>
<html>
    <head>
        <title>StudentChooser</title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
        <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    </head>

    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button gtype="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">
                        myTA
                        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                    <ul class="nav navbar-nav navbar-right">
                        <% if logged_in? %>
                        <% p current_user %>
                        <li>
                            <a href="">Welcome
                                <%= current_user.name.capitalize %>!
                            </a>
                        </li>
                        <ul class="nav navbar-nav left">
                            <li>
                                <a href="/teachers/<%= current_user.id %>">
                                    My Classes
                                </a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a id="logout-link" href="/logout">
                                    Logout
                                </a>
                            </li>
                        </ul>
                    <% else %>
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#Login">
                                    Login
                                </button>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav right">
                            <li>
                                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#Register">
                                    Register
                                </button>
                            </li>
                        </ul>
                        <% end %>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <div class="container">
        <div class="modal fade" id="Login" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header center" style="padding:35px 50px;">
                        <button type="button" class="close white" data-dismiss="modal">&times;</button>
                        <h1 class="modal-title">Login</h1>
                    </div>
                    <div class="modal-body">
                        <form role="form" action="/sessions" method="post">
                            <div class="form-group">
                                <label for="email">
                                    <span class="fa fa-user"></span>
                                    Email</label>
                                <input type="text" class="form-control" id="email" name="email" placeholder="Enter email">
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="password" name="password" placeholder="Enter password">
                            </div>
                            <button type="submit" class="btn btn-success btn-block">Login</button><br>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="modal fade" id="Register" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header center" style="padding:35px 50px;">
                        <button type="button" class="close white" data-dismiss="modal">&times;</button>
                        <h1 class="modal-title">Register</h1>
                    </div>
                    <div class="modal-body">
                        <form role="form" action="/teachers" method="post">
                            <div class="form-group">
                                <label for="name">
                                    <span class="fa fa-user"></span>
                                    Name:</label>
                                <input type="text" class="form-control" id="name" name="name" placeholder="Enter Name">
                            </div>
                            <div class="form-group">
                                <label for="email">
                                    <span class="fa fa-user"></span>
                                    Email:</label>
                                <input type="text" class="form-control" id="email" name="email" placeholder="Enter email">
                            </div>

                            <div class="form-group">
                                <label for="password">Password:</label>
                                <input type="password" class="form-control" name="password" id="password" placeholder="Enter password">
                            </div>
                            <div class="form-group">
                                <label for="password">Password Confirmation:</label>
                                <input type="password" class="form-control" id="password2" name="password2" placeholder="Enter password">
                            </div>
                            <button type="submit" class="btn btn-success btn-block">Register</button><br>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div style="text-align:center;" class="footer navbar-fixed-bottom panel-footer">
            myTA is an open source web application created by: Marty McLaughlin. To submit issues or pull requests please visit
            <a href="https://github.com/martymclaugh/myTA">github.com/martymclaugh/myTA
                <img style="width: 2%" src="https://cdn0.iconfinder.com/data/icons/octicons/1024/mark-github-128.png" alt="github"></a>
        </footer>
        <%= yield %>
    </body>
</html>
